* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poller One', cursive;
}

.ember-application {
  background-color: black;
  color: white;
}

.start-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-button {
  margin-top: 50vh;
  width: 10rem;
  height: 2rem;
  border-color: gold;
  border-radius: 5px;
  background-color: black;
  color: gold;
}

.start-image {
  width: 70vw;
  height: 60vh;
  margin: auto;
  display: flex;
}

.start-subtitle {
  display: none;
  font-size: 4rem;
  color: gold;
}

.play-button {
  display: none;
}

.score-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.catagories-header {
  margin-top: 1rem;
  padding-left: 2rem;
}

.catagories-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.catagories-button {
  border: none;
  width: 48%;
  height: 30rem;
  overflow: hidden;
  background-color: black;
}

.catagories-button:focus {
  border: none;
}

.catagories-title {
  position: fixed;
  top: 27rem;
  color: gold;
  font-size: 4rem;
}

.deal-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deal-button {
  background-color: black;
  font-size: 1.6rem;
  color: gold;
  border-color: gold;
  width: 10rem;
  height: 5rem;
  position: relative;
  left: 1rem;
  border-radius: 5px;
}

.battle-instruction {
  text-align: center;
}

.battle-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.battle-button {
  width: 8rem;
  height: 3rem;
  border-radius: 3px;
  margin: 0 .5rem;
  background-color: black;
  color: gold;
  border-color: gold;
}

.battle-button_attack-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.battle-button_attack {
  animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.battle-cards-container {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}

.card-name {
  text-align: center;
  margin: 1rem 0;
}

.player-cards-container {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.player-cards {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-card {
  border: 1px solid white;
  border-radius: 5px;
  width: 15rem;
  height: 19rem;
  background-color: white;
  color: grey;
}

.player {
  animation: slide-in .2s linear;
}

.player-deck {
  height: 8rem;
  animation: slide-in .3s linear;
}

.opponent {
  animation: slide-in .5s linear;
  text-align: center;
  padding-top: 1rem;
  background-color: #d8d8d8;
}

.opponent-deck {
  height: 8rem;
  animation: slide-in .6s linear;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

.round-result-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.round-result {
  text-align: center;
  color: gold;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.next-round-button {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 1rem;
}